<div id="<%= dom_id list %>">

  <div class="text-item">
    <p>
      <strong>Título:</strong>
      <%= list.title %>
    </p>

    <p>
      <strong>Descrição:</strong>
      <%= list.description %>
    </p>
    
  </div>
</div>
